html,
body {
    background: url('../images/04_07/bg_modulo.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.margin-l {
    left: 10%;
}

.voltar {
    width: 174px;
    height: 39px;
    padding: 10px;
    border-radius: 4px;
    gap: 10px;
    font-weight: bold;
    color: #000 !important;
    background: #F5CA2E;
    border: 1px solid #F5CA2E;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.btn-final {
    text-align: center;
}

.moldura figcaption,
.legenda {
    font-size: 12px;
}

.gaitinha .panel.panel-default .panel-heading .panel-title a.collapsed {
    background: #00adaf !important;
    color: white !important;
}

.gaitinha .panel.panel-default .panel-heading .panel-title a {
    border: 2px solid #00adaf !important;
    color: black !important;
    border-radius: 20px;
    padding: 1.2rem;
}

.gaitinha .panel.panel-default .panel-body {
    border: 0;
    border-left: 2px solid #00adaf !important;
    margin-left: 20px;
    margin-top: 3px;
}

.modal {
    position: fixed;
    top: 150px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
}

.senac {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #00adaf !important;
    font-size: 16px !important;
}

.tabela .senac li {
    font-size: 16px !important;
}

.senac th,
.senac td {
    border: 1px solid #00adaf !important;
    padding: 8px;
    text-align: left;
}

.senac th {
    background-color: #f2f2f2;
}

.senac tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.senac td:nth-child(2) {
    width: 20%;
}

.tabela {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

figcaption {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

iframe {
    margin-top: 20px;
    margin-bottom: 20px;
}

h2,
h3,
h4 {
    color: #50D7E2 !important;
    font-weight: bold;
}

li {
    margin-bottom: 0.8em;
}

.caixa-destaque,
.caixa-destaque-livre {
    background-color: #0b3b4b;
    color: #fff;
}

.caixa-destaque {
    width: 100%;
}

.etapa {
    width: 100%;
}

.caixa-exemplos {
    background-color: #1e86ab;
    color: #fff;
}

.gifs {
    max-width: 800px;
    border: 1px solid green;
}

.gifs>img {
    max-width: 100%;
}

.mobile-link {
    display: none;
}

@media (max-width: 820px) {
    .mobile-link {
        display: block;
    }

    .desktop {
        display: none;
    }
}

@media (max-width: 768px) {
    .painel-exemplos {
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }
}